Data/nifi-ingestion/NiFi_Flow.json
{"flowContents":{"identifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ec92b28c-8674-3cbb-9e78-ef08c23f26eb","name":"PutFile","comments":"","position":{"x":1080.0,"y":312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data_iot","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"84742ed8-896a-383e-8d5a-1a79be006b21","name":"PublishMQTT","comments":"","position":{"x":24.0,"y":520.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.mqtt.PublishMQTT","properties":{"Client ID":"Pub_Error","Last Will QoS Level":null,"Connection Timeout (seconds)":"30","Broker URI":"tcp://mosquitto:1883","SSL Context Service":null,"Username":null,"Session state":"true","Quality of Service(QoS)":"0","Last Will Message":null,"Last Will Topic":null,"Topic":"device/error","MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Last Will Retain":null,"Retain Message":"False"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service(QoS)","identifiesControllerService":false,"sensitive":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false},"Topic":{"name":"Topic","displayName":"Topic","identifiesControllerService":false,"sensitive":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false},"Retain Message":{"name":"Retain Message","displayName":"Retain Message","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"85106150-f317-3505-a91e-623e01f3df6f","name":"ConsumeKafka","comments":"","position":{"x":536.0,"y":472.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-0-9-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka","properties":{"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.poll.records":"10000","max-uncommit-offset-wait":"1 secs","group.id":"reader","bootstrap.servers":"kafka:29092","topic":"devicedata","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"latest","sasl.kerberos.service.name":null},"propertyDescriptors":{"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"a49f0e33-80ba-37c1-bec8-1f305a3977ac","name":"PutFile","comments":"","position":{"x":1144.0,"y":488.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data_kafka","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"06253e44-1eaf-304a-979b-ea1e3a7cce7b","name":"PublishKafka_2_0","comments":"","position":{"x":560.0,"y":-56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"devicedata","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"d08a187c-88b3-39e9-ac6d-a3ab0515ed01","name":"ConsumeMQTT","comments":"","position":{"x":-80.0,"y":-40.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.mqtt.ConsumeMQTT","properties":{"Max Queue Size":"1024","Client ID":"Consumer","Last Will QoS Level":null,"Connection Timeout (seconds)":"30","Broker URI":"tcp://mosquitto:1883","SSL Context Service":null,"Username":null,"Session state":"true","Quality of Service(QoS)":"0","Last Will Message":null,"Last Will Topic":null,"Topic Filter":"device/#","Group ID":null,"MQTT Specification Version":"0","Keep Alive Interval (seconds)":"60","Last Will Retain":null},"propertyDescriptors":{"Max Queue Size":{"name":"Max Queue Size","displayName":"Max Queue Size","identifiesControllerService":false,"sensitive":false},"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false},"Connection Timeout (seconds)":{"name":"Connection Timeout (seconds)","displayName":"Connection Timeout (seconds)","identifiesControllerService":false,"sensitive":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Session state":{"name":"Session state","displayName":"Session state","identifiesControllerService":false,"sensitive":false},"Quality of Service(QoS)":{"name":"Quality of Service(QoS)","displayName":"Quality of Service(QoS)","identifiesControllerService":false,"sensitive":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false},"Topic Filter":{"name":"Topic Filter","displayName":"Topic Filter","identifiesControllerService":false,"sensitive":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false},"Keep Alive Interval (seconds)":{"name":"Keep Alive Interval (seconds)","displayName":"Keep Alive Interval (seconds)","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"79382571-3318-33c9-8ea7-42992e730a4f","name":"AttributesToCSV","comments":"","position":{"x":64.0,"y":216.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToCSV","properties":{"null-value":"false","include-core-attributes":"true","attributes-regex":null,"destination":"flowfile-attribute","include-schema":"false","attribute-list":null},"propertyDescriptors":{"null-value":{"name":"null-value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"include-core-attributes":{"name":"include-core-attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"attributes-regex":{"name":"attributes-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"destination":{"name":"destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"include-schema":{"name":"include-schema","displayName":"Include Schema","identifiesControllerService":false,"sensitive":false},"attribute-list":{"name":"attribute-list","displayName":"Attribute List","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aec6d373-7c30-37a3-84ab-0030958d4f00","name":"Transform","source":{"id":"d08a187c-88b3-39e9-ac6d-a3ab0515ed01","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"ConsumeMQTT","comments":""},"destination":{"id":"79382571-3318-33c9-8ea7-42992e730a4f","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"AttributesToCSV","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"973f29a6-2f29-3620-a09e-b6020980817b","name":"","source":{"id":"79382571-3318-33c9-8ea7-42992e730a4f","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"AttributesToCSV","comments":""},"destination":{"id":"ec92b28c-8674-3cbb-9e78-ef08c23f26eb","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"1295b1ab-cec6-303c-bc37-12b5caf6cdfb","name":"ConsumerToFile","source":{"id":"85106150-f317-3505-a91e-623e01f3df6f","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"ConsumeKafka","comments":""},"destination":{"id":"a49f0e33-80ba-37c1-bec8-1f305a3977ac","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"288cd7b6-ee91-3d35-8c76-f6b338f267d7","name":"kafka","source":{"id":"d08a187c-88b3-39e9-ac6d-a3ab0515ed01","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"ConsumeMQTT","comments":""},"destination":{"id":"06253e44-1eaf-304a-979b-ea1e3a7cce7b","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"PublishKafka_2_0","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"423f168e-9eb9-30b1-bd1a-863307a4958d","name":"Failure_message","source":{"id":"79382571-3318-33c9-8ea7-42992e730a4f","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"AttributesToCSV","comments":""},"destination":{"id":"84742ed8-896a-383e-8d5a-1a79be006b21","type":"PROCESSOR","groupId":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a","name":"PublishMQTT","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"45f6835b-f64a-3b05-81e0-ac2c87037518","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"01e1f90c-eaac-3242-8c7f-e81efd3e1a50","name":"JsonPathReader","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4"}}],"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"},{"identifier":"7057d6b8-2816-3862-aa78-fa48179caecf","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b6442dd5-1fa3-3fbd-ad70-1e9d3600361a"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}